# Auto detect text files and perform LF normalization
* text=auto
print ("     |''||''|              '||            '||`               ")       
print ("        ||                  ||             ||                ")       
print ("        ||    '''/  '''|.   ||''|, .|''|,  ||   '''|.        ") 
print ("        ||     //  .|''||   ||  || ||..||  ||  .|''||        ")
print ("     |..||..| /... `|..||. .||..|' `|...  .||. `|..||.       ")
